:host {
  display: block;
}

@import 'src/assets/styles/colors.scss';

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
}

.wrapper-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #e4e4ed;
  border-right-color: $color-primary;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
